{block content}
<div class="container">

<h1>DataMarker</h1>
	<blockquote>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	</blockquote>

</div><!-- /.container -->
