# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:

php:
    date.timezone: Europe/Prague

application:
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 5 days

database:
    dsn: 'pgsql:host=localhost;dbname=vachall'
    user: 'vachall'
    password: 'SDkdsj73hsw3'
    debugger: false        # panel v debugger baru
    explain: false        # explain dotazů v debugger bar

extensions:
    translation: Kdyby\Translation\DI\TranslationExtension

services:
    router: App\RouterFactory::createRouter
    authenticator: App\Service\LoginAuthenticator
    users: \App\Service\UsersService
    passwords: \Nette\Security\Passwords
    data: \App\Service\DataService

translation:
    default: cs
    fallback: [cs_CZ, cs]