heading: "Administrace"
file_here: "Přetáhněte soubory sem"
click_here: "Klikněte, nebo přetáhněte soubory"
proccesing: "Zpracovávám přetažené soubory..."
cancel: "Zrušit"
again: "Opakovat"
delete: "Smazat"
upload_heading: "Upload dat"
upload_setup_heading: "Nastavení dat"
load_all: "Načíst vše do DB"
load_file: "Načíst do DB"
delete_file: "Smazat"
filename: "Název"
filesize: "Velikost"
saved: "Úspěšně uloženo do databáze"
db_load_error: "Chyba při načítání do databáze"
hashtags: "Hashtags"