heading: "Administrace"
file_here: "Přetáhněte soubory sem"
click_here: "Klikněte, nebo přetáhněte soubory"
proccesing: "Zpracovávám přetažené soubory..."
cancel: "Zrušit"
again: "Opakovat"
delete: "Smazat"
upload_heading: "Data"
upload_setup_heading: "Nastavení dat"
load_all: "Načíst vše do DB"
load_file: "Načíst do DB"
delete_file: "Smazat"
filename: "Název"
filesize: "Velikost"
saved: "Úspěšně uloženo do databáze"
db_load_error: "Chyba při načítání do databáze"
hashtags: "Hashtags"
used_hashtags: "Použité hashtagy"
data_info: "Data"
data_import: "Data pro import"
data_in_db: "Data v databázi"
data_id: "id"
data_created_at: "Vytvořeno"
exploring: "Procházení"
delete_referenced: "Data nemohla být smazána, protože jsou označena"
delete_ok: "Data %id% úspěšně smazána"
refresh: "Refresh"
refresh_info: "Pokud upload proběhl úspěšně, klikněte na tlačítko refresh. Uploadovaná data se přesunou do další fáze, kdy budete moci upravit parametry před nahráním do databáze."
refresh_users_info: "Pokud upload proběhl úspěšně, klikněte na tlačítko refresh. Zobrazí se uživatelé se zadanými i vygenerovanými daty, které budete moci exportovat."

users: "Uživatelé"
user_login: "login"
user_password: "heslo"
user_first_name: "jméno"
user_last_name: "příjmení"
user_age: "věk"
user_gender: "pohlaví"
user_role: "role"
users_upload: "Uložit do databáze"
users_export: "Export"
users_refresh: "Kliknutím na tlačítko \"Uložit do databáze\" vytvoříte uživatelské účty zobrazené výše, export vygeneruje soubor se loginy a hesly. Nejprve je potřeba provést export (hesla k loginům již není možné v budoucnu získat kvůli hashování hesel), po té se zpřístupní uložení do databáze."
users_in_db: "Uživatelé v databázi"
user_email: "email"
user_groups: "skupiny"
