heading: "Administrace"
file_here: "Přetáhněte soubory sem"
click_here: "Klikněte, nebo přetáhněte soubory"
proccesing: "Zpracovávám přetažené soubory..."
cancel: "Zrušit"
again: "Opakovat"
delete: "Smazat"
upload_heading: "Upload dat"