heading: "Prohlížení označených dat"
marked_data: "Označená data"
filter_heading: "Filtr"
hashtags: "hashtagy"
used_hashtags: "Použité hashtagy"
find: "Hledat"
id: "id"
data_id: "data_id"
data_created_at: "vytvořeno"
marked_login: "označil"
marked_export: "export"
delete: "smazat"
delete_confirm: "Opravdu chcete data smazat?"