data_send_ok: "Úspěšně označeno"
already_marked: "Tato data jste již označil"
no_data: "Nejsou k dispozici žádná další data k označení"
marked_error: "Chyba při označování"
skip: "Přeskočit"
send: "Odeslat"
delete_node: "Smazat uzel"
delete_polygon: "Smazat polygon"
few_nodes: "Není možné smazat uzel, polygon musí obsahovat alespoň 3 uzly"