login_ok: "Přihlášení proběhlo úspěšně."
logout_ok: "Odhlášení proběhlo úspěšně."
user_doesnt_exist: "Zadané uživatelské jméno neexistuje"
bad_pass: "Chybné heslo"

login: "Login"
password: "Heslo"
logged_as: "Přihlášen jako"
submit_login: "Přihlásit"
submit_logout: "Odhlásit"

menu:
    home: "Domů"
    register: "Registrace"
    administration: "Administrace"
    data_explorer: "Prohlížení označených dat"