body {
    padding-top: 50px;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.alert {
    margin: 20px auto 20px;
    width: 90%;
}

.flags li {
    text-align: center;
    margin: 0 2px;
    clear: both;
}

.flags {
    margin: 7px;
    height: 45px;
}

.flags li a {
    padding: 0;
}

h4.flag-icon {
    margin: 2px 0;
}

.login-widget {
    color: #fff;
    height: 60px;
    line-height: 60px;
}

#logout-form {
    color: #fff;
    margin-right: 20px;
}

#editor-area {
    border: 1px solid;
}

#editor-wrap {
    margin-top: 30px;
}

.upload-db-msg {
    margin: 0 20px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

path {
    fill: none;
    stroke-width: 1px;
    stroke: #666;
}

circle.selected {
    fill: #00ff00;
}

circle.inpath {
    fill: #3498DB;
}

.qq-upload-drop-area-active {
    background-color: #00ABC7;
    color: #fff;
    font-size: 3em;
}