body {
    padding-top: 50px;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.alert {
    margin: 20px auto 20px;
    width: 90%;
}

.flags li {
    text-align: center;
    margin: 0 2px;
    clear: both;
}

.flags {
    margin: 7px;
    height: 45px;
}

.flags li a {
    padding: 0;
}

h4.flag-icon {
    margin: 2px 0;
}

